.header-container  .header-container-cart {
  display: flex; 
  height: 50px; 
  justify-content: flex-end;  
  align-items: center;
  width: 100%; 
} 



.header-container  .header-container-cart ul {
  display: flex;  
  padding-right: 100px; 
  list-style: none; 
} 


.header-container  .header-container-cart li {
  font-family: 'Montserrat', sans-serif; 
  font-size: 13px;  
  margin: 0px 15px;
  display: flex; 
  align-items: center; 
  color: #373737;
} 

.header-container  .header-container-cart img {
  height: 16px; 
  margin: 0px 5px;
} 


.header-container  .header-container-cart span{
  font-family: 'Montserrat', sans-serif; 
  font-size: 13px;  
  display: flex; 
  align-items: center;
  justify-content: center; 
  height: 16px;
  width: 16px;
  background-color: #FF4858; 
  border-radius: 50%;
  position: absolute; 
  top: 9px; 
  margin-left: 14px;  
  color: #fff;
  z-index: 1;
} 


.header-container  .header-container-cart .img-cart {
  position: relative; 
}


.header-container .header-nav {
  display: flex; 
  width: 100%; 
  justify-content: space-between; 
  align-items: center;
  height: 60px; 
  padding-left: 100px; 
  padding-right: 100px; 
} 


.header-container .header-nav ul {
  display: flex; 
  list-style: none;  
} 

.header-container .header-nav li {
  margin-left: 97px; 
  font-family: 'Montserrat', sans-serif; 
  font-size: 13px;  
  font-weight: 600; 
  color: #373737;
} 


.header-container .header-nav .logo {
  display: flex; 
  align-items: center;
} 

.header-container .header-nav p {
  margin:0px 10px;
  font-family: 'Montserrat', sans-serif; 
  font-size: 13px;  
  font-weight: 600; 
} 

.header-container .header-nav img{
  height: 30px;
}